* {margin:0; 
  padding:0; 
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  }

/*---------------------------------*/

header, footer {padding: 8px 32px; 
height: 70px; 
background-color: #ece5dd;
 box-sizing: border-box;}

.chat-box {
    height: calc(100dvh - 140px);
    padding: 32px;
    overflow-y: auto;
    background-image: url(background.jpg);
}

.chat-row{
  display: flex;
  margin-bottom: 32px;   
}

.chat-row.sent{
    justify-content: flex-end;
}
.chat-row.received {
  justify-content: flex-start;
}
.chat-message {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #00000080;
}

.chat-row.sent > .chat-message {background-color: #b5f9ba;}
.chat-row.received > .chat-message {background-color: #ffffff;}

time {
  font-size: 12px;
  color: #aaaaaa;
}

/* FONDO PAGINA */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

input {
  width: 100%;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
}

button {
  border: none;
  font-size: 32px;
  color: #666666;
  cursor: pointer;
  background-color: transparent;
}
button:hover {
  color: green;
}

/* INTESTAZIONE */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 21px;
  color: #666666;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}
